<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
<div id="main">
        <div class="am-container">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-lg-12">
                    <div id="wordsView">
                        <div class="title">
                            <div class="title-words">
                                <h1 class="title-words-h1">关于</h1>
                            </div>

                            <div class="title-img">
                                <p>
                                    <img src="/img/loading.gif" data-src="/img/mine/timo.jpg" class="enlargePicture am-img-thumbnail am-radius">
                                </p>
                            </div>
                        </div>
                        <div class="zhy-my-words"  data-am-scrollspy="{animation: 'scale-down'}">
                            <p><i class="fa fa-quote-left fa-lg" style="float: left"></i></p><br>
                            <div class="zhy-info">
                                <p class="zhy-info-words">
                                    wayyee，目前就读于成都的西南石油大学，一名"不顾正业"的程序猿，所属计科院物联网工程专业，翼灵物联工作室后端开发组组长，沉迷于Java后端技术开发，
                                    单身狗一只，但也是一只有梦想有追求的单身狗，一只追求进步和成长的程序猿。<br>
                                    <br>
                                    爱编程。喜欢旅行、摄影、爱生活。非宅男，不掉发，追求不平淡的生活，梦想养一只二哈，当一名铲屎官，渴望一场轰轰烈烈的爱情。
                                </p>
                            </div>
                            <p><i class="fa fa-quote-right fa-lg" style="float: right"></i></p><br><hr>
                        </div>
                        <div class="zhy-hobby">
                            <blockquote style="padding: 10px 18px">
                                兴趣爱好
                                <ul>
                                    <li>擅长编程：沉迷于Java开发，专注于Web后端技术，追求新技术探索；</li>
                                    <li>喜欢旅游：喜欢风景和文艺之地，也争取未来远离"颈椎"的困扰；</li>
                                    <li>喜欢音乐：唯一喜欢的音乐，民谣，她不着一爱字，却处处见情深；</li>
                                    <li>喜欢电影：英雄类大片、煽情类爱情片、校园类青春片，哈哈，都喜欢；</li>
                                    <li>喜欢看书：喜欢明朝两百多年历史，以及林徽因徐志摩的个人传记；</li>
                                    <li>一直渴望着养一只雪橇犬二哈，以后工作有机会了也会走上铲屎官之路；</li>
                                </ul>
                            </blockquote>
                            <span style="font-size: 14px;color: #555;">我就是这样的我，不求伟大，却又不甘于平凡，相信爱情，也等待着属于我的爱情。</span>
                        </div>

                    </div>

                    <div class="comment">
                        <div class="comment-top">
                            <div class="comment-top-input" th:if="${#httpServletRequest.remoteUser}">
                                <textarea id="comment" placeholder="客官，来说两句吧..."></textarea>
                            </div>
                            <div class="comment-top-input" th:unless="${#httpServletRequest.remoteUser}">
                                <div class="goToLogin">
                                    &nbsp;&nbsp;&nbsp;<a id="toLogin">登录</a>后才可以发表留言呦...
                                </div>
                            </div>
                            <div class="commentBtn">
                                <button id="commentBtn" type="button" class="am-btn am-btn-secondary">发表留言</button>
                            </div>
                        </div>
                        <!--页面留言-->
                        <div class="comment-bottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="js/all.js"></script>
<script src="js/leaveMessage.js"></script>
<!--放大图片插件-->
<script src="js/lightgallery/lightgallery.js"></script>
<script src="js/lightgallery/picturefill.min.js"></script>
<script src="js/lightgallery/lg-pager.js"></script>
<script src="js/lightgallery/lg-autoplay.js"></script>
<script src="js/lightgallery/lg-fullscreen.js"></script>
<script src="js/lightgallery/lg-zoom.js"></script>
<script>
    lightGallery(document.getElementById('wordsView'));
</script>
</body>
</html>
